html{color:#666;-ms-text-size-adjust:100%;_text-overflow:ellipsis;background:#e5e5e5;}			body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,select,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 hiragino sans gb,microsoft yahei,simsun}
h1,h2,h3,h4,h5,h6{font-size:1em}
a{text-decoration:none; cursor:pointer;}
a:active{outline:0 none}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){a:active{background-color:transparent}}
small,cite,code,em,th,i,b{font-size:1em;font-style:normal;font-weight:500}
input,select,textarea,button{font-size:1em;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
button,input[type=button],input[type=submit]{cursor:pointer}
button::-moz-focus-inner,button::-moz-focus-outer,input::-moz-focus-inner,input::-moz-focus-outer{border:0 none;padding:0;margin:0}
input[type=search]{-webkit-appearance:textfield}
input:focus::-webkit-input-placeholder{color:transparent}
textarea{resize:vertical;overflow-y:auto}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img,iframe{border:0 none}
img{display:inline-block;vertical-align:bottom;-ms-interpolation-mode:bicubic}
iframe{display:block}
ul,ol{list-style:none}
li{vertical-align:top}
.af-clear{ zoom:1;}
.af-clear:after{
content: '\20';
display: block;
height: 0;
clear: both;
}
.clear{ clear:both; height:0px; overflow:hidden; width:100%; display:block;}
body{ overflow-x:hidden; /*font-size: 20px;*/ height:100%;}
/*网站公用部分*/
html{overflow:auto;background: url(../images/bg_02.jpg) no-repeat 0px 0px; background-size: 100% 100%;height:100%;}
.pages{position:relative;    padding-bottom: 1.259rem;}
.receiveRedEnvelope a,.receiveRedEnvelope input,.RedEnvelope a{width:7.7rem;height:1.148rem;line-height:1.148rem;text-align:center;font-size:0.37rem;border-radius: 5px;display:block;}
.receiveRedEnvelope a{background:url(../images/btnbg_08.png) no-repeat;background-size: 100% 100%;margin-top:0.6rem;color:#5a4600;}
.receiveRedEnvelope .enterTel{color:#bababa;background:#fff;border:none;}
.RedEnvelope{width:7.7rem;margin:0 auto;/*margin-top:6rem;*/}
.RedEnvelope .RedEnvelopeCon{width:100%;/*height:3.8rem;*/background:rgba(34,23,66,0.6);border-radius: 10px;padding:0.31rem 0;}
.RedEnvelopeCon p{text-align:center;}
.RedEnvelopeCon .coupon{background:url(../images/haongbaobg_05.png)no-repeat;background-size:100%;width:5.6rem;height:2.22rem;font-size:0.55rem;margin:0 auto;margin-top:10px;color:#5a4600;}
.grabCoupons .coupon,.noneRedEnvelope .coupon{line-height:2.22rem;}
.coupon span{margin-left:1.2rem;display:block;}
.RedEnvelope .account,.RedEnvelope .appuse{color:#d7d7d7;font-size:0.296rem;padding-top:5px;}
.account span{color:#ffd85d;}			
.haveReceived .coupon{overflow:hidden;}
.haveReceived .coupon span:nth-child(1){font-size:0.555rem;margin-top:0.36rem;}
.haveReceived .coupon span:nth-child(2){font-size:0.267rem;}
.RedEnvelope a{background:url(../images/btnbg_08.png) no-repeat;background-size: 100% 100%;margin-top:0.6rem;color:#5a4600;}
.productsList{background:url(../images/yunduo1_top.png) no-repeat top left,url(../images/yunduo1_bottom.png) no-repeat bottom left;background-size:100% auto;position:relative;padding:1.38rem 0 2.2rem 0;-webkit-transition: all 0.5s ease-out;}
.productsList ul{width:100%;background:#f8f8f8;  height: 2.19rem;overflow: hidden;  }
.productsList ul li{width:9.296rem;margin:0 auto;height:1.52rem;border-radius: 10px;border:1px solid #d4d3d3;background:#ebeaea;margin-top:0.25rem;padding:0.21rem 0;position:relative;font-size:0.287rem;color:#333;}
.productsList ul a{display:block;width:1.527rem;height:1.527rem;border:1px solid #999;border-radius: 5px;position:absolute;left:0.259rem;}
.productsList ul img{width:100%;border-radius: 5px;}
.productsList ul .productName{width:4.65rem;color:#333;font-size:0.296rem;padding-left:2.045rem;}
.productsList ul .productPrice{position:absolute;right:0.259rem;top:0.21rem;}
.productPrice span{display:block;text-align:right;}
.productPrice span:nth-child(2){color:#666;}
.productsList .moon{position:absolute;bottom:-1rem;right:0.4167rem;width:1.157rem;height:1.25rem;cursor: pointer;z-index:100;}
.productsList .moon img{width:100%;}
.hysq{margin-top:0.5rem;}
.hysqTlt{width:90%;margin:0 auto}
.hysqTlt img{width:100%;}
.hysqList{width:95%;margin:0 auto;}
.hysqList li{margin-top:20px;position:relative;}
.hysqList li .friendImg{width:1.037rem;height:1.037rem;position:absolute;}
.friendImg img{width:100%;border-radius: 5px;}
.hysqList li .friendMesg{padding-left:1.137rem;font-size:0.28rem;/*line-height:18px;*/}
.friendMesg span{display:block;color:#996600;}
.friendMesg span b{color:#5a4600;margin-right:10px;}
.hysqList li .quan{position:absolute;right:0px;top:0px;height:1.037rem;line-height:1.037rem;color:#ff5400;font-size:0.324rem;}
.quan span{margin-right:5px;}
.hyzl{position:fixed;bottom:0px;width:100%;overflow: hidden;}
.hyzlTlt{width:90%;margin:0 auto;height:25px;}
.hyzlTlt img{width:100%;}
.hyzlCon{height:1.109rem;background:#f2a100;padding-top:0.15rem;}
.hyzlCon input{width:7.194rem;height:0.944rem;line-height:0.944rem;border:none;border-radius: 5px;margin:0 0.23rem 0 0.37rem;padding-left:5px;font-size:0.324rem;}
.hyzlCon a{display:inline-block;width:1.89rem;height:0.944rem;line-height:0.944rem;background:#ffd85d;color:#5a4600;text-align:center;font-size:0.37rem;border-radius: 5px;}
.mask{background:rgba(0,0,0,0.5);width:100%;height:100%;position:absolute;top:0px;}
/*弹窗*/
.hbWindow{width:8.8425rem;height:8.5648rem;background:#ffd85d;border-radius: 5px;border:3px solid #fff;position:absolute;top:50%;margin-top:-4.2824rem;left:50%;margin-left:-4.42125rem;z-index:200;}
.hbWindowCon{position:relative;}
.hbWindowCon .colse{width:0.7222rem;height:0.7222rem;line-height:0.7222rem;border-radius:0.7222rem;background:#fff;color:#fc7512;font-size:0.555rem;text-align:center;position:absolute;right:-0.3611rem;top:-0.3611rem;}
.hbWindowCon .hbTip{padding:0.73rem 0 0.9rem 0;}
.hbTip .hbImg{width:2.87rem;height:2.0833rem;margin:0 auto;}
.hbTip p{text-align:center;color:#5a4600;font-size:0.3703rem;}
img{width:100%;}
.wlq .RedEnvelope{margin-top:2.2rem;}
.wlq .hysq{margin-top:1.6rem;}
.hyzlCon .off{background:#d8d8d8;}
.tipMask{position:fixed;top:0px;width:100%;height:100%;background:url(../images/tipMask.png) no-repeat;background-size:100% 100%;z-index:500;}
.tipMask img{width:100%;}
.sdisod{  -webkit-animation: flipInX .5s .2s ease both;}
.hbWindow {
  -webkit-animation: bounceIn 0.5s ease-in-out 0s;
  -webkit-animation-fill-mode: backwards;
}
 @-webkit-keyframes bounceIn {

  0% {
  
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);

  }
}